@charset "UTF-8";
/*GENERALES*/
/*HTML*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa; }

/*Footer*/
.footer {
  height: 300px;
  width: 100%;
  margin-left: 0px;
  position: relative;
  margin-top: 0px;
  bottom: 0; }
  .footer .footer-list {
    background-color: #17a2b8;
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px; }
    .footer .footer-list li {
      font-family: 'Rubik', sans-serif, bold;
      text-align: center;
      color: white;
      padding-top: 20px;
      padding-bottom: 20px; }
    .footer .footer-list .footer-direccion h3 a {
      color: #FFFFFF;
      text-decoration: none;
      list-style-type: none; }
    .footer .footer-list .footer-direccion .footer-direccion:hover {
      animation: pulse 1s ease-in-out; }
  .footer .footer-redesSociales img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    margin-left: 4px; }
  .footer .footer-redesSociales .footer-redesSociales a img:hover {
    animation: pulse 1s ease-in-out; }
  .footer .footer-pie {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #222;
    padding-top: 25px;
    padding-bottom: 10px; }

/*Botón ir arriba*/
.ir-arriba {
  display: none;
  padding: 20px;
  background: #024959;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px; }

/*PRINCIPAL*/
@media only screen and (max-width: 400px) {
  .header-index .header-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px; }
  .header-index .navBar-index {
    height: 150px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .header-index .titulo-index {
    text-align: center;
    margin-left: auto;
    margin-right: 28px;
    padding-top: 0px;
    font-size: 40px; }
  .header-index .button-tienda {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-bottom: 200px; }
  .nuevosIngresos .nuevosIngresos-titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px; }
  .nuevosIngresos .nuevosIngresos-list li img {
    width: 120px;
    height: 120px; }
  .nuevosIngresos .nuevosIngresos-list li .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 100px;
    margin-bottom: 70px;
    font-size: 11px; }
  .columns {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 10px; }
    .columns .columns-list .columns-item {
      font-family: 'IBM Plex Sans', sans-serif;
      display: inline-block;
      color: white;
      text-align: center;
      font-size: 10px;
      padding-top: 10px;
      padding-right: 40px;
      padding-left: 45px; }
      .columns .columns-list .columns-item h3 {
        font-size: 20px;
        font-family: 'Rubik', sans-serif; }
      .columns .columns-list .columns-item img {
        width: 40px;
        height: 40px;
        padding-bottom: 5px; }
  .topVentas .topVentas-titulo {
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px; }
  .topVentas .topVentas-list li img {
    width: 120px;
    height: 120px; }
  .topVentas .topVentas-list li .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 100px;
    font-size: 11px; }
  .footer {
    background-color: #17a2b8;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 0; }
    .footer .footer-list {
      margin-top: 12.5px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: baseline; }
      .footer .footer-list li {
        font-family: 'Rubik', sans-serif, bold;
        text-align: center;
        color: white;
        padding-top: 0px;
        padding-bottom: 15px; }
      .footer .footer-list .footer-copyright h3 {
        font-size: 8px; }
      .footer .footer-list .footer-direccion h3 a {
        font-size: 8px;
        color: #FFFFFF;
        text-decoration: none;
        list-style-type: none; }
      .footer .footer-list .footer-redesSocialess a img {
        display: inline-block;
        width: 12.5px;
        height: 12.5px;
        margin-right: 2px;
        margin-left: 2px; } }

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-index {
    height: 700px; }
    .header-index .navBar-index {
      padding-top: 20px;
      height: 100px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .header-index .navBar-index .navBar-list .nav-item {
        padding-left: 60px;
        padding-right: 60px; }
        .header-index .navBar-index .navBar-list .nav-item .nav-link {
          text-align: center;
          font-size: 15px; }
    .header-index .titulo-index {
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 10px;
      font-size: 70px; }
    .header-index .button-tienda {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px; }
  .nuevosIngresos .nuevosIngresos-titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px; }
  .nuevosIngresos .nuevosIngresos-list li img {
    margin-left: 40px;
    width: 200px;
    height: 200px; }
  .nuevosIngresos .nuevosIngresos-list li .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 50px;
    font-size: 18px;
    margin-bottom: 80px; }
  .columns .columns-list {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 75px;
    margin-bottom: 60px; }
    .columns .columns-list .columns-item {
      font-family: 'IBM Plex Sans', sans-serif;
      display: inline-block;
      color: white;
      text-align: center;
      font-size: 10px;
      padding-top: 10px;
      padding-right: 40px;
      padding-left: 65px; }
      .columns .columns-list .columns-item h3 {
        font-size: 20px;
        font-family: 'Rubik', sans-serif; }
  .topVentas .topVentas-titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px; }
  .topVentas .topVentas-list li img {
    margin-left: 40px;
    width: 200px;
    height: 200px; }
  .topVentas .topVentas-list li .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 50px;
    font-size: 18px; }
  .footer {
    background-color: #17a2b8;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 0;
    padding-top: 25px; }
    .footer .footer-list {
      margin-top: 12.5px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: baseline; }
      .footer .footer-list li {
        font-family: 'Rubik', sans-serif, bold;
        text-align: center;
        color: white;
        padding-top: 0px;
        padding-bottom: 15px; }
      .footer .footer-list .copyright h3 {
        font-size: 20px; }
      .footer .footer-list .direccion h3 a {
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
        list-style-type: none; }
      .footer .footer-list .redes-sociales a img {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 4px;
        margin-left: 4px; } }

/*TIENDA*/
@media only screen and (max-width: 400px) {
  .header-libros .navBar-libros {
    height: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .header-libros .titulo-libros {
    text-align: center;
    margin-left: auto;
    margin-right: 28px;
    padding-top: 100px;
    padding-bottom: 0px;
    font-size: 70px; }
  .header-libros .dropdown {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    font-size: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 300px;
    margin-left: 150px; }
    .header-libros .dropdown .dropdown-menu {
      text-align: center; }
      .header-libros .dropdown .dropdown-menu li a button {
        margin-bottom: 10px; }
  .header-libros .categoriaLibros {
    display: none; }
  .seccionesTienda .seccionesTienda-titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px; }
  .seccionesTienda .seccionesTienda-list .seccionesTienda-item img {
    width: 120px;
    height: 120px;
    margin-right: 90px; }
  .seccionesTienda .seccionesTienda-list .seccionesTienda-item .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 100px;
    margin-bottom: 70px;
    font-size: 11px; } }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-libros .navBar-libros {
    padding-top: 20px;
    height: 100px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .header-libros .navBar-libros .navBar-list .nav-item {
      width: 170px; }
      .header-libros .navBar-libros .navBar-list .nav-item .nav-link {
        text-align: center;
        font-size: 15px; }
  .header-libros .titulo-libros {
    text-align: center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 200px;
    margin-left: auto;
    padding-top: 60px;
    font-size: 70px; }
  .header-libros .dropdown {
    display: none; }
  .header-libros .categoriaLibros {
    display: none;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 0px;
    padding-left: 20px; }
    .header-libros .categoriaLibros a .categoriaLibros-buttom {
      display: inline-block;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px; }
  .seccionesTienda .seccionesTienda-titulo h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 40px; }
  .seccionesTienda .seccionesTienda-list .seccionesTienda-item img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 200px; }
  .seccionesTienda .seccionesTienda-list .seccionesTienda-item .button-libro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-right: 90px;
    font-size: 16px;
    margin-bottom: 80px; } }

/*GUIA DE COMPRA*/
@media only screen and (max-width: 400px) {
  .header-guiadecompra {
    height: 700px; }
    .header-guiadecompra .header-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px; }
    .header-guiadecompra .navBar-guiadecompra {
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .header-guiadecompra .titulo-guiadecompra {
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 30px; }
    .header-guiadecompra .subtitulo-guiadecompra {
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 15px; }
  .main-guia {
    height: 700px; }
    .main-guia .paso-1 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: #17a2b8;
      color: white;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-1 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-1 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
    .main-guia .paso-2 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: white;
      color: #17a2b8;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-2 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-2 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
    .main-guia .paso-3 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: black;
      color: white;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-3 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-3 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
    .main-guia .paso-4 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: #17a2b8;
      color: white;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-4 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-4 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
    .main-guia .paso-5 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: white;
      color: #17a2b8;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-5 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-5 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
    .main-guia .paso-6 {
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: black;
      color: white;
      padding: 50px 30px 30px 20px; }
      .main-guia .paso-6 h2 {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px; }
      .main-guia .paso-6 p {
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px; }
  .footer {
    background-color: #17a2b8;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 0; }
    .footer .footer-list {
      margin-top: 12.5px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: baseline; }
      .footer .footer-list li {
        font-family: 'Rubik', sans-serif, bold;
        text-align: center;
        color: white;
        padding-top: 0px;
        padding-bottom: 15px; }
      .footer .footer-list .footer-copyright h3 {
        font-size: 8px; }
      .footer .footer-list .footer-direccion h3 a {
        font-size: 8px;
        color: #FFFFFF;
        text-decoration: none;
        list-style-type: none; }
      .footer .footer-list .footer-redesSocialess a img {
        display: inline-block;
        width: 12.5px;
        height: 12.5px;
        margin-right: 2px;
        margin-left: 2px; } }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-guiadecompra .header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px; }
  .header-guiadecompra .navBar-guiadecompra {
    height: 140px;
    width: 100%;
    background-color: white; }
    .header-guiadecompra .navBar-guiadecompra .navBar-list .nav-item {
      width: 180px;
      text-align: center;
      transition: color 1.5s;
      font-size: 100%; }
      .header-guiadecompra .navBar-guiadecompra .navBar-list .nav-item a {
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: color 0.5s;
        color: black;
        font-size: 100%; }
  .header-guiadecompra .titulo-guiadecompra {
    text-align: center;
    margin-left: auto;
    margin-right: 28px;
    padding-top: 30px;
    font-size: 60px; }
  .header-guiadecompra .subtitulo-guiadecompra {
    text-align: center;
    margin-left: auto;
    margin-right: 28px;
    padding-top: 0px;
    font-size: 30px; }
  .main-guia .paso-1 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: #17a2b8;
    color: white;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-1 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-1 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; }
  .main-guia .paso-2 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: #17a2b8;
    color: white;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-2 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-2 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; }
  .main-guia .paso-3 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-3 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-3 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; }
  .main-guia .paso-4 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: #17a2b8;
    color: white;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-4 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-4 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; }
  .main-guia .paso-5 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: white;
    color: #17a2b8;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-5 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-5 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; }
  .main-guia .paso-6 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 55px 40px 40px 30px; }
    .main-guia .paso-6 h2 {
      text-align: left;
      padding-left: 35px;
      padding-top: 15px; }
    .main-guia .paso-6 p {
      text-align: left;
      padding-top: 15px;
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 30px; } }

/*SOBRE NOSOTROS*/
@media only screen and (max-width: 400px) {
  .header-marca {
    height: 700px; }
    .header-marca .header-logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px; }
    .header-marca .navBar-marca {
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .header-marca .titulo-marca {
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 40px; }
  .main-marca {
    height: 2000px; }
    .main-marca .imagenes {
      width: 80%;
      float: left;
      margin-left: 20%; }
      .main-marca .imagenes #carouselExampleSlidesOnly {
        width: 250px;
        height: 234px; }
    .main-marca .carrusel-2 {
      display: none; }
    .main-marca .historia {
      display: block;
      width: 80%;
      margin-left: 20%; }
      .main-marca .historia .texto-1 {
        margin-bottom: 50px; }
        .main-marca .historia .texto-1 h2 {
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 30px; }
        .main-marca .historia .texto-1 p {
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 15px; }
      .main-marca .historia .texto-2 {
        margin-bottom: 50px; }
        .main-marca .historia .texto-2 h2 {
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 30px; }
        .main-marca .historia .texto-2 p {
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 15px; }
      .main-marca .historia .texto-3 h2 {
        font-family: 'Roboto Slab', serif;
        color: #17a2b8;
        font-size: 30px; }
      .main-marca .historia .texto-3 p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 15px; } }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-marca {
    height: 800px; }
    .header-marca .header-logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px; }
    .header-marca .navBar-marca {
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .header-marca .navBar-marca .navBar-list .nav-item {
        width: 170px; }
    .header-marca .titulo-marca {
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 90px; }
  .main-marca {
    height: 2000px; }
    .main-marca .imagenes {
      display: none; }
      .main-marca .imagenes #carouselExampleSlidesOnly {
        display: none; }
    .main-marca .carrusel-2 {
      display: block;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 100px; }
    .main-marca .historia {
      display: block;
      width: 80%;
      margin-left: 20%; }
      .main-marca .historia .texto-1 {
        margin-bottom: 80px; }
        .main-marca .historia .texto-1 h2 {
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px; }
        .main-marca .historia .texto-1 p {
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px; }
      .main-marca .historia .texto-2 {
        margin-bottom: 80px; }
        .main-marca .historia .texto-2 h2 {
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px; }
        .main-marca .historia .texto-2 p {
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px; }
      .main-marca .historia .texto-3 h2 {
        font-family: 'Roboto Slab', serif;
        color: #17a2b8;
        font-size: 35px; }
      .main-marca .historia .texto-3 p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 20px; } }

/*CONTACTO*/
@media only screen and (max-width: 400px) {
  .header-contacto {
    height: 400px; }
    .header-contacto .header-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px; }
    .header-contacto .navBar-contacto {
      height: 80px;
      width: 100%;
      background-color: white; }
      .header-contacto .navBar-contacto .navBar-list .nav-item {
        width: 300px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%; }
        .header-contacto .navBar-contacto .navBar-list .nav-item a {
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%; }
        .header-contacto .navBar-contacto .navBar-list .nav-item .nav-item:hover {
          color: #17a2b8; }
    .header-contacto .titulo-contacto {
      font-family: 'Roboto Slab', serif;
      color: black;
      letter-spacing: 5px;
      font-size: 40px;
      padding-left: 0px;
      padding-top: 0px;
      margin-top: 200px;
      margin-bottom: 40px;
      text-align: center;
      animation: zoomInDown 1.5s ease-in-out; }
  .main-contacto {
    margin-top: 300px;
    height: 1200px;
    width: 100%; }
    .main-contacto .formulario-contacto {
      float: none;
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      display: block; }
      .main-contacto .formulario-contacto div p {
        font-family: 'IBM Plex Sans', sans-serif;
        margin-bottom: 60px; }
      .main-contacto .formulario-contacto div h3 {
        color: #17a2b8;
        font-family: 'Roboto Slab', serif; }
      .main-contacto .formulario-contacto .btn {
        margin-right: 30%;
        margin-left: 40%;
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px; }
        .main-contacto .formulario-contacto .btn .btn:hover {
          animation: pulse 1s; }
    .main-contacto .datos-contacto {
      text-align: center;
      float: none;
      display: block;
      width: 90%;
      margin-top: 50px;
      margin-right: 5%;
      margin-left: 5%; }
    .main-contacto .datos-contacto div {
      margin-bottom: 100px; }
    .main-contacto .datos-contacto div h3 {
      color: #17a2b8;
      font-family: 'Roboto Slab', serif; }
    .main-contacto .datos-contacto div p {
      font-family: 'IBM Plex Sans', sans-serif; } }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-contacto {
    height: 450px; }
    .header-contacto .header-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px; }
    .header-contacto .navBar-contacto {
      height: 80px;
      width: 100%;
      background-color: white; }
      .header-contacto .navBar-contacto .navBar-list .nav-item {
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%; }
        .header-contacto .navBar-contacto .navBar-list .nav-item a {
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%; }
        .header-contacto .navBar-contacto .navBar-list .nav-item .nav-item:hover {
          color: #17a2b8; }
    .header-contacto .titulo-contacto {
      font-family: 'Roboto Slab', serif;
      color: black;
      letter-spacing: 5px;
      font-size: 100px;
      padding-left: 20px;
      padding-top: 100px;
      margin-bottom: 40px;
      text-align: center;
      animation: zoomInDown 1.5s ease-in-out; }
  .main-contacto {
    margin-top: 300px;
    height: 800px;
    width: 100%; }
    .main-contacto .formulario-contacto {
      float: left;
      width: 40%;
      margin-left: 10%; }
      .main-contacto .formulario-contacto div p {
        font-family: 'IBM Plex Sans', sans-serif;
        margin-bottom: 60px; }
      .main-contacto .formulario-contacto div h3 {
        color: #17a2b8;
        font-family: 'Roboto Slab', serif; }
      .main-contacto .formulario-contacto .btn {
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px; }
        .main-contacto .formulario-contacto .btn .btn:hover {
          animation: pulse 1s; }
    .main-contacto .datos-contacto {
      text-align: right;
      float: right;
      width: 40%;
      margin-right: 10%; }
    .main-contacto .datos-contacto div {
      margin-bottom: 180px; }
    .main-contacto .datos-contacto div h3 {
      color: #17a2b8;
      font-family: 'Roboto Slab', serif; }
    .main-contacto .datos-contacto div p {
      font-family: 'IBM Plex Sans', sans-serif; } }

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00E676;
  font-size: 30px;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  border-radius: 50%;
  z-index: 10000;
  text-decoration: none;
  color: #fff; }

.whatsapp-button:hover {
  outline: none;
  text-decoration: none; }

#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 40px;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  background: url("/image/top.png");
  background-size: cover; }

/*PRINCIPAL*/
.header-index .navBar-index {
  height: 100px;
  width: 100%;
  background-color: white; }
  .header-index .navBar-index .navBar-list .nav-item {
    width: 300px;
    text-align: center;
    transition: color 1.5s;
    font-size: 100%; }
    .header-index .navBar-index .navBar-list .nav-item a {
      letter-spacing: 1px;
      text-transform: capitalize;
      transition: color 0.5s;
      color: black;
      font-size: 100%; }

.header-index .header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px; }

.header-index .titulo-index {
  margin-top: 150px;
  font-family: 'Roboto Slab', serif;
  color: black;
  letter-spacing: 5px;
  font-size: 100px;
  padding-left: 30px;
  text-align: center; }

.header-index a {
  text-decoration: none; }
  .header-index a .button-tienda {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px; }
  .header-index a button:hover {
    animation: pulse 1s; }

/*TIENDA*/
.header-libros .header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px; }

.header-libros .navBar-libros .navBar-list .nav-item {
  width: 300px;
  text-align: center;
  transition: color 1.5s;
  font-size: 100%;
  font-weight: bold; }
  .header-libros .navBar-libros .navBar-list .nav-item a {
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color 0.5s;
    color: black;
    font-size: 100%; }
  .header-libros .navBar-libros .navBar-list .nav-item .nav-item:hover {
    color: #17a2b8; }

.header-libros .titulo-libros {
  font-family: 'Roboto Slab', serif;
  color: black;
  letter-spacing: 5px;
  font-size: 100px;
  padding-left: 30px;
  padding-top: 180px;
  padding-bottom: 40px;
  text-align: center;
  animation: zoomInDown 1.5s ease-in-out; }

.header-libros .categoriaLibros {
  margin-right: 300px;
  margin-bottom: 200px;
  margin-left: 420px; }
  .header-libros .categoriaLibros a .categoriaLibros-buttom {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background-color: #17a2b8;
    color: white; }
    .header-libros .categoriaLibros a .categoriaLibros-buttom .categoriaLibros-buttom:hover {
      border: 1px solid black;
      background-color: white;
      color: black; }
  .header-libros .categoriaLibros a button:hover {
    animation: pulse 1s; }

.header-libros .dropdown {
  display: none; }

/*GUIA DE COMPRA*/
.header-guiadecompra .header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px; }

.header-guiadecompra .navBar-guiadecompra {
  height: 200px;
  width: 100%;
  background-color: white; }
  .header-guiadecompra .navBar-guiadecompra .navBar-list .nav-item {
    width: 300px;
    text-align: center;
    transition: color 1.5s;
    font-size: 100%; }
    .header-guiadecompra .navBar-guiadecompra .navBar-list .nav-item a {
      letter-spacing: 1px;
      text-transform: capitalize;
      transition: color 0.5s;
      color: black;
      font-size: 100%; }
    .header-guiadecompra .navBar-guiadecompra .navBar-list .nav-item .nav-item:hover {
      color: #17a2b8; }

.header-guiadecompra .titulo-guiadecompra {
  font-family: 'Roboto Slab', serif;
  color: black;
  letter-spacing: 5px;
  font-size: 100px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: center;
  animation: zoomInDown 1.5s ease-in-out; }

.header-guiadecompra .subtitulo-guiadecompra {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 300px;
  text-align: center;
  animation: zoomInUp 1.5s ease-in-out; }

/*SOBRE NOSOTROS*/
.header-marca {
  height: 800px; }
  .header-marca .header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px; }
  .header-marca .navBar-marca {
    height: 80px;
    width: 100%;
    background-color: white; }
    .header-marca .navBar-marca .navBar-list .nav-item {
      width: 300px;
      text-align: center;
      transition: color 1.5s;
      font-size: 100%; }
      .header-marca .navBar-marca .navBar-list .nav-item a {
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: color 0.5s;
        color: black;
        font-size: 100%; }
      .header-marca .navBar-marca .navBar-list .nav-item .nav-item:hover {
        color: #17a2b8; }
  .header-marca .titulo-marca {
    font-family: 'Roboto Slab', serif;
    color: black;
    letter-spacing: 5px;
    font-size: 100px;
    padding-left: 30px;
    padding-top: 100px;
    margin-bottom: 140px;
    text-align: center;
    animation: zoomInDown 1.5s ease-in-out; }

/*CONTACTO*/
.header-contacto {
  height: 450px; }
  .header-contacto .header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px; }
  .header-contacto .navBar-contacto {
    height: 80px;
    width: 100%;
    background-color: white; }
    .header-contacto .navBar-contacto .navBar-list .nav-item {
      width: 300px;
      text-align: center;
      transition: color 1.5s;
      font-size: 100%; }
      .header-contacto .navBar-contacto .navBar-list .nav-item a {
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: color 0.5s;
        color: black;
        font-size: 100%; }
      .header-contacto .navBar-contacto .navBar-list .nav-item .nav-item:hover {
        color: #17a2b8; }
  .header-contacto .titulo-contacto {
    font-family: 'Roboto Slab', serif;
    color: black;
    letter-spacing: 5px;
    font-size: 100px;
    padding-left: 30px;
    padding-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    animation: zoomInDown 1.5s ease-in-out; }

/*PRINCIPAL*/
.nuevosIngresos {
  width: 100%; }

.nuevosIngresos-titulo {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
  padding-bottom: 15px; }

.nuevosIngresos-list li {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 0px 40px 15px 40px;
  margin: 5px 10px 0px 60px; }
  .nuevosIngresos-list li .btn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 98px;
    margin-left: 98px;
    font-size: 20px; }

.columns-list {
  background-color: #17a2b8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
  padding: 10px 0px 10px 0px;
  margin: 100px 30px 100px 30px; }
  .columns-list .columns-item {
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 150px; }
    .columns-list .columns-item img {
      width: 80px;
      height: 80px;
      padding-bottom: 10px; }
    .columns-list .columns-item h3 {
      font-family: 'Rubik', sans-serif; }

.topVentas-titulo {
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
  padding-bottom: 15px; }

.topVentas-list li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 0px 40px 15px 40px;
  margin: 0px 10px 0px 60px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin-bottom: 100px; }
  .topVentas-list li .btn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 98px;
    margin-left: 98px;
    font-size: 20px; }

.newsletter {
  margin-top: 80px;
  margin-bottom: 100px; }
  .newsletter button:hover {
    animation: pulse 1s; }
  .newsletter .newsletter-titulo {
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 35px; }
  .newsletter .newsletter-texto {
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px; }
  .newsletter .newsletter-form {
    text-align: center;
    margin-right: 35%;
    margin-left: 35%; }
  .newsletter .newsletter-btn {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0px 3px 0px 3px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 5px 10px 5px 10px; }

/*LIBROS*/
.seccionesTienda {
  width: 100%; }
  .seccionesTienda .seccionesTienda-titulo {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 15px; }
  .seccionesTienda .seccionesTienda-list .seccionesTienda-item {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 40px 15px 40px;
    margin: 5px 10px 0px 60px; }
    .seccionesTienda .seccionesTienda-list .seccionesTienda-item .btn {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-left: 98px;
      margin-left: 98px;
      font-size: 20px; }
      .seccionesTienda .seccionesTienda-list .seccionesTienda-item .btn button:hover {
        animation: pulse 1s; }
    .seccionesTienda .seccionesTienda-list .seccionesTienda-item img:hover {
      animation: pulse 1s; }

/*GUIA DE COMPRA*/
.main-guia {
  background-color: white;
  margin-bottom: 200px; }
  .main-guia .paso-1 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: #17a2b8;
    color: white;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-1 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-1 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
      margin-bottom: 150px; }
  .main-guia .paso-2 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: white;
    color: #17a2b8;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-2 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-2 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px; }
  .main-guia .paso-3 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-3 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-3 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px; }
  .main-guia .paso-4 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: #17a2b8;
    color: white;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-4 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-4 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px; }
  .main-guia .paso-5 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 180px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: white;
    color: #17a2b8;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-5 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-5 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px; }
  .main-guia .paso-6 {
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 180px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 70px 70px 70px 20px; }
    .main-guia .paso-6 h2 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px; }
    .main-guia .paso-6 p {
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px; }

/*SOBRE NOSOTROS*/
.main-marca {
  height: 1300px; }
  .main-marca .imagenes {
    width: 30%;
    float: left;
    margin-left: 10%;
    width: 450px;
    height: 534px; }
    .main-marca .imagenes #carouselExampleSlidesOnly {
      width: 450px;
      height: 534px; }
  .main-marca .carrusel-2 {
    display: none; }
  .main-marca .historia {
    float: right;
    width: 40%;
    margin-right: 10%; }
    .main-marca .historia .texto-1 {
      margin-bottom: 99.5px; }
    .main-marca .historia .texto-1 h2 {
      font-family: 'Roboto Slab', serif;
      color: #17a2b8; }
    .main-marca .historia .texto-1 p {
      font-family: 'IBM Plex Sans', sans-serif; }
    .main-marca .historia .texto-2 {
      margin-bottom: 99.5px; }
    .main-marca .historia .texto-2 h2 {
      color: #17a2b8;
      font-family: 'Roboto Slab', serif; }
    .main-marca .historia .texto-2 p {
      font-family: 'IBM Plex Sans', sans-serif; }
    .main-marca .historia .texto-3 h2 {
      color: #17a2b8;
      font-family: 'Roboto Slab', serif; }
    .main-marca .historia .texto-3 p {
      font-family: 'IBM Plex Sans', sans-serif; }
  .main-marca .newsletter-sobreNosotros {
    display: block;
    padding-top: 1000px; }
    .main-marca .newsletter-sobreNosotros button:hover {
      animation: pulse 1s; }
    .main-marca .newsletter-sobreNosotros .newsletter-titulo {
      display: block;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      font-size: 35px; }
    .main-marca .newsletter-sobreNosotros .newsletter-texto {
      display: block;
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 20px; }
    .main-marca .newsletter-sobreNosotros .newsletter-form {
      text-align: center;
      margin-right: 35%;
      margin-left: 35%; }
    .main-marca .newsletter-sobreNosotros .newsletter-btn {
      text-decoration: none;
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding: 0px 3px 0px 3px;
      text-align: center;
      font-size: 15px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 40px;
      padding: 5px 10px 5px 10px; }

/*CONTACTO*/
.main-contacto {
  margin-top: 300px;
  height: 1000px;
  width: 100%; }
  .main-contacto .formulario-contacto {
    float: left;
    width: 40%;
    margin-left: 10%; }
    .main-contacto .formulario-contacto button:hover {
      animation: pulse 1s; }
    .main-contacto .formulario-contacto div p {
      font-family: 'IBM Plex Sans', sans-serif;
      margin-bottom: 60px;
      font-weight: bold; }
    .main-contacto .formulario-contacto div h3 {
      color: #17a2b8;
      font-family: 'Roboto Slab', serif; }
    .main-contacto .formulario-contacto .btn {
      background-color: #17a2b8;
      color: #FFFFFF;
      border-radius: 20px; }
      .main-contacto .formulario-contacto .btn .btn:hover {
        animation: pulse 1s; }
  .main-contacto .datos-contacto {
    text-align: right;
    float: right;
    width: 40%;
    margin-right: 10%; }
  .main-contacto .datos-contacto div {
    margin-bottom: 180px; }
  .main-contacto .datos-contacto div h3 {
    color: #17a2b8;
    font-family: 'Roboto Slab', serif; }
  .main-contacto .datos-contacto div p {
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif; }
