/*HTML*/
html{
  margin: 0;
  padding: 0;	
  box-sizing: border-box;
}

/*Footer*/

.footer{
  height: 300px;
  width: 100%;
  margin-left: 0px;
  position: relative;
  margin-top: 0px;
  bottom: 0;
  .footer-list{
    background-color: #17a2b8;
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  
    li{
      font-family: 'Roboto Slab', serif;
      text-align: center;
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .footer-direccion{
      iframe{
        width: 400px;
        height: 400px;
      }
  
      .footer-direccion:hover{
        animation: pulse 1s ease-in-out;
      }
    } 
    .footer-redesSociales{
      color: white;
      .redesSociales1{
        padding-left: 100px;
      }
      .redesSociales2{
        text-decoration: none;
        padding-left: 44px;
        a{
          color: white;
          text-decoration: none;
          padding-left: 5px;
        }
      }
    } 
  }

  .footer-pie{ 
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #222;
    padding-top: 25px;
    padding-bottom: 10px;
  }
}


/*Botón ir arriba*/
.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

