/*PRINCIPAL*/

/*Mobile Styles*/
@media only screen and (max-width: 400px){
  .header-index{
    width: 100%;
    .header-logo{
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100px;
      }
    }
    .navBar-index{
      height: 150px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .titulo-index{
      text-align: center;
      margin-left: auto;
      margin-right: 20px;
      padding-top: 0px;
      font-size: 30px;
    }
    .button-tienda{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      margin-bottom: 200px;
    }
  }

  .nuevosIngresos{
    .nuevosIngresos-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
    } 
    .nuevosIngresos-list{
      box-sizing: border-box;
      padding-left: 0px;
      li{
        padding-left: 0px;
        margin-right: 0px;
        .btn{
          display: flex;
          flex-direction: column;
          margin: 0px auto;
          margin-top: 20px;
        }
      }
    }
  }
  .columns{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 40px;
    margin-bottom: 10px;

    .columns-list{
      .columns-item{
        font-family: 'IBM Plex Sans', sans-serif;
        display: inline-block;
        color: white;
        text-align: center;
        font-size: 10px;
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 45px;

        h3{
          font-size: 20px;
          font-family: 'Rubik', sans-serif;
        }

        img{
          width: 40px;
          height: 40px;
          padding-bottom: 5px;
        }
      }
    }
  }

  .topVentas{
    .topVentas-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
    }

    .topVentas-list{
      box-sizing: border-box;
      padding-left: 0px;
      li{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 50px;
        img{
          width: 80px;
          height: 80px;
        }
        .btn{
          display: flex;
          flex-direction: column;
          margin: 0px auto;
          margin-top: 20px;
        }
      }
    }
  }

  .newsletter{
    margin-top: 80px;
    margin-bottom: 100px;
    button:hover{
      animation: pulse 1s;
    }
    .newsletter-titulo{
      display: block;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .newsletter-texto{
      display: block;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 15px;
    }
    .newsletter-form{
      text-align: center;
      margin-right: 25%;
      margin-left: 25%;
    }
    .newsletter-btn{
      text-decoration: none;
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding: 0px 3px 0px 3px;
      text-align: center;
      font-size: 15px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 30px;
      padding: 5px 10px 5px 10px;
      transition: all 0.5s ease;
      background-color: $colorblue;
      color: white;
      border: $colorblue;
    }
  
    .newsletter-btn:hover{
      background-color: #FFFFFF;
      color: $colorblue;
      border-color: $colorblue;
    }
  }

  .footer{
    height: 300px;
    width: 100%;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 0;
    .footer-list{
      background-color: #17a2b8;
      color: #FFFFFF;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 40px;
      padding-bottom: 20px;
    
      li{
        font-family: 'Roboto Slab', serif;
        text-align: left;
        text-decoration: none;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
  
        h3{
          font-size: 20px;
          padding-bottom: 10px;
        }
  
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 10px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }

      } 
      .footer-redesSociales{
        color: white;
        .redesSociales1{
          padding-left: 100px;
        }
        .redesSociales2{
          text-decoration: none;
          padding-left: 44px;
          a{
            color: white;
            text-decoration: none;
            padding-left: 5px;
          }
        }
      } 

      .footer-direccion{
        background-color: #17a2b8;
        padding-bottom: 40px;
        iframe{
          border-radius: 10px;
          display: block;
          margin: auto; 
          width: 80%;
          height: 300px;
        }
      } 
  
    .footer-pie{ 
      width: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
      display: block;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      color: #FFFFFF;
      background-color: #222;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
} 

/*Tablet Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-index{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-index{
      height: 100px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 1rem;
          }
        }
      }
    }
    .titulo-index{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .button-tienda{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
      }
  }

  .nuevosIngresos{
    .nuevosIngresos-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      font-size: 40px;
    }

    .nuevosIngresos-list{
      display: inline-block;
      padding: 0px;
      margin: 0px;
      .seccionesTienda-item{
        margin: 0px 0px 0px 0px;
        padding-right: 0px;
        .button-libro{
          margin-top: 20px;
          margin-right: 90px;
          font-size: 16px;
          margin-bottom: 80px;
          }
        }
      }
    }

  .columns{
    .columns-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      margin-right: 50px;
      margin-left: 75px;
      margin-bottom: 100px;

      .columns-item{
        font-family: 'IBM Plex Sans', sans-serif;
        display: inline-block;
        color: white;
        text-align: center;
        font-size: 10px;
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 65px;

        h3{
          font-size: 20px;
          font-family: 'Rubik', sans-serif;
        }
      }
    }
  }

  .topVentas{
    .topVentas-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
    }

    .topVentas-list{
      li{
        padding-right: 0px;
        img{
          width: 200px;
          height: 200px;
        }

        .btn{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 90px;
          margin-right: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .footer{
    height: 300px;
    width: 100%;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 0;
    .footer-list{
      background-color: #17a2b8;
      color: #FFFFFF;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 40px;
      padding-bottom: 20px;
    
      li{
        font-family: 'Roboto Slab', serif;
        text-align: left;
        text-decoration: none;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
  
        h3{
          font-size: 30px;
          padding-bottom: 10px;
        }
  
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }

      } 
      .footer-redesSociales{
        color: white;
        .redesSociales1{
          padding-left: 100px;
        }
        .redesSociales2{
          text-decoration: none;
          padding-left: 44px;
          a{
            color: white;
            text-decoration: none;
            padding-left: 5px;
          }
        }
      } 

      .footer-direccion{
        background-color: #17a2b8;
        padding-bottom: 40px;
        iframe{
          border-radius: 10px;
          display: block;
          margin: auto; 
          width: 80%;
          height: 400px;
        }
      } 
  
    .footer-pie{ 
      width: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
      display: block;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      color: #FFFFFF;
      background-color: #222;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
}

/*Laptop Styles*/ 
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .header-index{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-index{
      height: 100px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-index{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .button-tienda{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
      }
  }

  .nuevosIngresos{
    .nuevosIngresos-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
    }

    .nuevosIngresos-list{
      li{
        margin: auto;
        margin-bottom: 80px;
        img{
          width: 200px;
          height: 200px;
        }
        .btn{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 90px;
          margin-right: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .columns{
    width: 75%;
    margin: auto;
    .columns-list{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .columns-item{
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        text-align: center;
        font-size: 10px;
        padding-top: 10px;
        padding-right: 40px;
        padding-left: 40px;

        h3{
          font-size: 20px;
          font-family: 'Rubik', sans-serif;
        }
      }
    }
  }

  .topVentas{
    .topVentas-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
    }

    .topVentas-list{
      li{
        margin: auto;
        img{
          width: 200px;
          height: 200px;
        }

        .btn{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 90px;
          margin-right: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .footer{
    height: 300px;
    width: 100%;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 0;
    .footer-list{
      background-color: #17a2b8;
      color: #FFFFFF;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 40px;
      padding-bottom: 20px;
    
      li{
        font-family: 'Roboto Slab', serif;
        text-align: left;
        text-decoration: none;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
  
        h3{
          font-size: 30px;
          padding-bottom: 10px;
        }
  
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }

      } 
      .footer-redesSociales{
        color: white;
        .redesSociales1{
          padding-left: 100px;
        }
        .redesSociales2{
          text-decoration: none;
          padding-left: 44px;
          a{
            color: white;
            text-decoration: none;
            padding-left: 5px;
          }
        }
      } 

      .footer-direccion{
        background-color: #17a2b8;
        padding-bottom: 40px;
        iframe{
          border-radius: 10px;
          display: block;
          margin: auto; 
          width: 80%;
          height: 400px;
        }
      } 
  
    .footer-pie{ 
      width: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
      display: block;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      color: #FFFFFF;
      background-color: #222;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
}

/*Laptop L Styles*/ 
@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .header-index{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-index{
      height: 100px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-index{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .button-tienda{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
      }
  }

  .nuevosIngresos{
    .nuevosIngresos-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
    }

    .nuevosIngresos-list{
      li{
        display: inline-block;
        margin-left: 0px auto;
        margin-right: 0px auto;
        margin-bottom: 80px;
        img{
          width: 200px;
          height: 200px;
        }
        .btn{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 90px;
          margin-right: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .columns{
    width: 80%;
    margin: auto;
    .columns-list{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 0px;
      margin-right: 0px;
      .columns-item{
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        text-align: center;
        font-size: 10px;
        padding-top: 10px;
        padding-right: 100px;
        padding-left: 100px;

        h3{
          font-size: 20px;
          font-family: 'Rubik', sans-serif;
        }
      }
    }
  }

  .topVentas{
    .topVentas-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
    }

    .topVentas-list{
      li{
        display: inline-block;
        margin-left: 0px auto;
        margin-right: 0px auto;
        margin-bottom: 80px;
        img{
          width: 200px;
          height: 200px;
        }

        .btn{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 90px;
          margin-right: 50px;
          font-size: 18px;
        }
      }
    }
  }

  .footer{
    height: 300px;
    width: 100%;
    margin-left: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 0;
    .footer-list{
      background-color: #17a2b8;
      color: #FFFFFF;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-top: 40px;
      padding-bottom: 20px;
    
      li{
        font-family: 'Roboto Slab', serif;
        text-align: left;
        text-decoration: none;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
  
        h3{
          font-size: 30px;
          padding-bottom: 10px;
        }
  
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }

      } 
      .footer-redesSociales{
        color: white;
        .redesSociales1{
          padding-left: 100px;
        }
        .redesSociales2{
          text-decoration: none;
          padding-left: 44px;
          a{
            color: white;
            text-decoration: none;
            padding-left: 5px;
          }
        }
      } 

      .footer-direccion{
        background-color: #17a2b8;
        padding-bottom: 40px;
        iframe{
          border-radius: 10px;
          display: block;
          margin: auto; 
          width: 80%;
          height: 400px;
        }
      } 
  
    .footer-pie{ 
      width: 100%;
      font-family: 'IBM Plex Sans', sans-serif;
      display: block;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      color: #FFFFFF;
      background-color: #222;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
}



/*TIENDA*/

/*Mobile Styles*/
@media only screen and (max-width: 400px){
  .header-libros{
    .navBar-libros{
      height: 200px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .titulo-libros{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 100px;
      padding-bottom: 0px;
      font-size: 40px;
    }

    .categoriaLibros{
      width: 100%;
      margin-top: 50px;
      margin-left: 0px;
      a{
        display: block;
        margin: 0px auto;
        margin-bottom: 10px;
        width: 50%;
        text-align: center;
      }
    }
  }
  .seccionesTienda{
    margin-top: 100px;
    .seccionesTienda-titulo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
    }
    .seccionesTienda-list{
      padding-left: 0px;
      .seccionesTienda-item{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 50px;
        margin-bottom: 40px;
        img{
          width: 80px;
          height: 80px;
        }

        .btn{
          display: flex;
          flex-direction: column;
          margin: 0px auto;
          margin-top: 20px;
        }
      }
    }
  }
}

/*Tablet Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-libros{
    height: 800px;
      .navBar-libros{
        padding-top: 20px;
        height: 100px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
        .navBar-list{
          .nav-item{
            width: 180px;
            text-align: center;
            transition: color 1.5s;
            font-size: 100%;
        
              a{
              letter-spacing: 1px;
              text-transform: capitalize;
              transition: color 0.5s;
              color: black;
              font-size: 1rem;
              }
            }
          }
    }

    .titulo-libros{
      text-align: center;
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      padding-top: 60px;
      font-size: 70px;
    }

    .categoriaLibros{
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
      margin-left: 0px;
      padding-left: 20px;

      a{
        .categoriaLibros-buttom{
          display: inline-block;     
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .seccionesTienda{
    .seccionesTienda-titulo{
      h2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 40px;
      }
    }

    .seccionesTienda-list{
      .seccionesTienda-item{
        margin: 0px 0px 0px 0px;
        padding-right: 0px;
        .button-libro{
          margin-top: 20px;
          margin-right: 90px;
          font-size: 16px;
          margin-bottom: 80px;
        }
      }
    }
  }
}

/*Laptop Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-libros{
    height: 800px;
      .navBar-libros{
        padding-top: 20px;
        height: 100px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
        .navBar-list{
          .nav-item{
            width: 170px;
            .nav-link{
              text-align: center;
              font-size: 15px;
            }
          }
        }
    }

    .titulo-libros{
      text-align: center;
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      padding-top: 60px;
      font-size: 70px;
    }

    .categoriaLibros{
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
      margin-left: 0px;
      padding-left: 20px;

      a{
        .categoriaLibros-buttom{
          display: inline-block;     
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .seccionesTienda{
    .seccionesTienda-titulo{
      h2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 40px;
      }
    }

    .seccionesTienda-list{
      padding-left: 60px;
      .seccionesTienda-item{
        margin: 0px 0px 0px 40px;
        img{
          width: 200px;
          height: 200px;
        }
        .button-libro{
          margin-top: 20px;
          margin-right: 90px;
          font-size: 16px;
          margin-bottom: 80px;
        }
      }
    }
  }
}

/*Laptop L Styles*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .header-libros{
    height: 800px;
      .navBar-libros{
        padding-top: 20px;
        height: 100px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
        .navBar-list{
          .nav-item{
            width: 170px;
            .nav-link{
              text-align: center;
              font-size: 15px;
            }
          }
        }
    }

    .titulo-libros{
      text-align: center;
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
      padding-top: 60px;
      font-size: 70px;
    }

    .dropdown{
      display: none;
    }

    .categoriaLibros{
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
      margin-left: 0px;
      padding-left: 20px;

      a{
        .categoriaLibros-buttom{
          display: inline-block;     
          font-size: 15px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .seccionesTienda{
    .seccionesTienda-titulo{
      h2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 40px;
      }
    }

    .seccionesTienda-list{
      .seccionesTienda-item{
        margin: 0px 0px 0px 40px;
        img{
          width: 200px;
          height: 200px;
        }
        .button-libro{
          margin-top: 20px;
          margin-right: 90px;
          font-size: 16px;
          margin-bottom: 80px;
        }
      }
    }
  }
}




/*GUIA DE COMPRA*/

/*Mobile Styles*/
@media only screen and (max-width: 400px){
  .header-guiadecompra{
    height: 700px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
    .navBar-guiadecompra{
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .titulo-guiadecompra{
      text-align: center;
      margin: 0px auto;
      font-size: 40px;
    }

    .subtitulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 15px;
    }
  }

  .main-guia{
    height: 2450px;
    .paso-1{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: #17a2b8;
      color: white;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }

    .paso-2{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: white;
      color: #17a2b8;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }

    .paso-3{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: black;
      color: white;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }

    .paso-4{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: #17a2b8;
      color: white;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }

    .paso-5{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: white;
      color: #17a2b8;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }

    .paso-6{
      display: block;
      text-align: center;
      float: none;
      width: 350px;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 25px;
      border-radius: 40px;
      height: 350px;
      background-color: black;
      color: white;
      padding: 25px 30px 30px 20px;

      h2{
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 25px;
      }
    
      p{
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
      }
    }
  }
} 

/*Tablet Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-guiadecompra{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-guiadecompra{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .subtitulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 30px;
    }
  }

  .main-guia{
    .paso-1{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-2{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-3{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-4{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-5{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: white;
      color: #17a2b8;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-6{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

/*Laptop Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-guiadecompra{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-guiadecompra{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .subtitulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 30px;
    }
  }

  .main-guia{
    .paso-1{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-2{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-3{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-4{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-5{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: white;
      color: #17a2b8;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-6{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

/*Laptop L Styles*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .header-guiadecompra{
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-guiadecompra{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }

    .subtitulo-guiadecompra{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 30px;
    }
  }

  .main-guia{
    .paso-1{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-2{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-3{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-4{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 30px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: #17a2b8;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-5{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: white;
      color: #17a2b8;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }

    .paso-6{
      text-align: center;
      float: left;
      width: 43%;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
      margin-bottom: 100px;
      margin-left: 5%;
      border-radius: 40px;
      height: 400px;
      background-color: black;
      color: white;
      padding: 55px 40px 40px 30px;
    
      h2{
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
      }
    
      p{
        text-align: left;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
  }
}




/*SOBRE NOSOTROS*/

/*Mobile Styles*/
@media only screen and (max-width: 400px){
  .header-marca{
    height: 700px;
    .header-logo{
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100px;
      }
    }
    .navBar-marca{
      height: 300px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .titulo-marca{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 0px;
      font-size: 40px;
    }
  }

  .main-marca{
    height: 2200px;
  
    .imagenes{
      width: 80%;
      float: left;
      margin-left: 20%;
    
      #carouselExampleSlidesOnly{
        width: 250px;
        height: 234px;
      }
    }

    .carrusel-2{
      display: none;
    }
    
    .historia{
      display: block;
      width: 80%;
      margin-left: 20%;
    
      .texto-1{
        margin-bottom: 50px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 30px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 15px;
        }
      }
      

      
      .texto-2{
        margin-bottom: 50px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 30px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 15px;
        }
      }
      .texto-3{
        margin-bottom: 50px;
        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 30px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 15px;
        }
      }
    }
  }
}

/*Tablet Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-marca{
    height: 600px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-marca{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-marca{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }

  .main-marca{
    height: 2100px;
  
    .imagenes{
      display: none;
    
      #carouselExampleSlidesOnly{
        display: none;
      }
    }
    
    .carrusel-2{
      display: block;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 100px;
    }
    
    .historia{
      display: block;
      width: 80%;
      margin-left: 20%;
    
      .texto-1{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      

      
      .texto-2{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      .texto-3{
        margin-bottom: 100px;
        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}

/*Laptop Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-marca{
    height: 600px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-marca{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-marca{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }

  .main-marca{
    height: 2100px;
  
    .imagenes{
      display: none;
    
      #carouselExampleSlidesOnly{
        display: none;
      }
    }
    
    .carrusel-2{
      display: block;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 100px;
    }
    
    .historia{
      display: block;
      width: 80%;
      margin-left: 20%;
    
      .texto-1{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      

      
      .texto-2{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      .texto-3{
        margin-bottom: 100px;
        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}

/*Laptop L Styles*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .header-marca{
    height: 600px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-marca{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-marca{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }

  .main-marca{
    height: 2100px;
  
    .imagenes{
      display: none;
    
      #carouselExampleSlidesOnly{
        display: none;
      }
    }
    
    .carrusel-2{
      display: block;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 100px;
    }
    
    .historia{
      display: block;
      width: 80%;
      margin-left: 20%;
    
      .texto-1{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      

      
      .texto-2{
        margin-bottom: 80px;

        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
      .texto-3{
        margin-bottom: 100px;
        h2{
          font-family: 'Roboto Slab', serif;
          color: #17a2b8;
          font-size: 35px;
        }
        
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}




/*CONTACTO*/

/*Mobile Styles*/
@media only screen and (max-width: 400px){
  .header-contacto{
    height: 300px;
  
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
      .navBar-contacto{
        height: 80px;
        width: 100%;
        background-color: white;
        .navBar-list{
          .nav-item{
            width: 300px;
            text-align: center;
            transition: color 1.5s;
            font-size: 100%;
  
            a{
            letter-spacing: 1px;
            text-transform: capitalize;
            transition: color 0.5s;
            color: black;
            font-size: 100%;
          }
          .nav-item:hover {
            color: #17a2b8;
          }
        }
      }
    }
    .titulo-contacto {
      font-family: 'Roboto Slab', serif;
      color: black;
      letter-spacing: 5px;
      font-size: 40px;
      padding-left: 0px;
      padding-top: 0px;
      margin-top: 200px;
      margin-bottom: 40px;
      text-align: center;
      animation: zoomInDown 1.5s ease-in-out ;
    }
  }
  
  .main-contacto{
    margin-top: 300px;
    height: 1200px;
    width: 100%;
  
    .formulario-contacto{
      float: none;
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      display: block;
    
      div{
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 60px;
        }
        
        h3{
          color: #17a2b8;
          font-family: 'Roboto Slab', serif;
        }
      }
      
      .btn{
        margin-right: 30%;
        margin-left: 40%;
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px;
    
        .btn:hover{
          animation: pulse 1s;
        }
      }
    }
  
    .datos-contacto{
      text-align: center;
      float: none;
      display: block;
      width: 90%;
      margin-top: 50px;
      margin-right: 5%;
      margin-left: 5%;
    }
    
    
    .datos-contacto div{
      margin-bottom: 100px;
    }
    
    .datos-contacto div h3{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .datos-contacto div p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }
}

/*Tablet Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-contacto{
    height: 300px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-contacto{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-contacto{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }
  
  .main-contacto{
    margin-top: 300px;
    height: 800px;
    width: 100%;
  
    .formulario-contacto{
      float: left;
      width: 40%;
      margin-left: 10%;
    
      div{
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 60px;
        }
        
        h3{
          color: #17a2b8;
          font-family: 'Roboto Slab', serif;
        }
      }
      
      .btn{
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px;
    
        .btn:hover{
          animation: pulse 1s;
        }
      }
    }
  
    .datos-contacto{
      text-align: right;
      float: right;
      width: 40%;
      margin-right: 10%;
    }
    
    
    .datos-contacto div{
      margin-bottom: 180px;
    }
    
    .datos-contacto div h3{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .datos-contacto div p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }
}

/*Laptop Styles*/ 
@media only screen and (min-width: 401px) and (max-width: 768px){
  .header-contacto{
    height: 300px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-contacto{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-contacto{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }
  
  .main-contacto{
    margin-top: 300px;
    height: 800px;
    width: 100%;
  
    .formulario-contacto{
      float: left;
      width: 40%;
      margin-left: 10%;
    
      div{
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 60px;
        }
        
        h3{
          color: #17a2b8;
          font-family: 'Roboto Slab', serif;
        }
      }
      
      .btn{
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px;
    
        .btn:hover{
          animation: pulse 1s;
        }
      }
    }
  
    .datos-contacto{
      text-align: right;
      float: right;
      width: 40%;
      margin-right: 10%;
    }
    
    
    .datos-contacto div{
      margin-bottom: 180px;
    }
    
    .datos-contacto div h3{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .datos-contacto div p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }
}

/*Laptop L Styles*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .header-contacto{
    height: 300px;
    .header-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 100px;
    }
  
    .navBar-contacto{
      height: 140px;
      width: 100%;
      background-color: white;
  
    .navBar-list{
      .nav-item{
        width: 180px;
        text-align: center;
        transition: color 1.5s;
        font-size: 100%;
    
          a{
          letter-spacing: 1px;
          text-transform: capitalize;
          transition: color 0.5s;
          color: black;
          font-size: 100%;
          }
        }
      }
    }
    .titulo-contacto{
      text-align: center;
      margin-left: auto;
      margin-right: 28px;
      padding-top: 30px;
      font-size: 60px;
    }
  }
  
  .main-contacto{
    margin-top: 300px;
    height: 800px;
    width: 100%;
  
    .formulario-contacto{
      float: left;
      width: 40%;
      margin-left: 10%;
    
      div{
        p{
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 60px;
        }
        
        h3{
          color: #17a2b8;
          font-family: 'Roboto Slab', serif;
        }
      }
      
      .btn{
        background-color: #17a2b8;
        color: #FFFFFF;
        border-radius: 20px;
    
        .btn:hover{
          animation: pulse 1s;
        }
      }
    }
  
    .datos-contacto{
      text-align: right;
      float: right;
      width: 40%;
      margin-right: 10%;
    }
    
    
    .datos-contacto div{
      margin-bottom: 180px;
    }
    
    .datos-contacto div h3{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .datos-contacto div p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }
}