/*PRINCIPAL*/

.nuevosIngresos{
  width: 100%;
}

.nuevosIngresos-titulo{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.nuevosIngresos-list{
  li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 40px 15px 40px;
    margin: 0px 30px 0px 40px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 100px;

    @include contratapa;

    @include button-compra;
  }
}


.columns-list{
  background-color: $colorblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 100px;
  padding: 10px 0px 10px 0px;
  margin: 100px 30px 200px 30px;

  .columns-item{
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 150px;
  
    img{
      width: 75px;
      height: 80px;
      padding-bottom: 10px;
    }
    
    h3{
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
    }
  }
}


.topVentas-titulo{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.topVentas-list{
  li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 40px 15px 40px;
    margin: 0px 30px 0px 40px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 100px;

    @include contratapa;

    @include button-compra;
  }
}

.newsletter{
  margin-top: 80px;
  margin-bottom: 100px;
  button:hover{
    animation: pulse 1s;
  }
  .newsletter-titulo{
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
  }
  .newsletter-texto{
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  .newsletter-form{
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
  }
  .newsletter-btn{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0px 3px 0px 3px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    transition: all 0.5s ease;
    background-color: $colorblue;
    color: white;
    border: $colorblue;
  }

  .newsletter-btn:hover{
    background-color: #FFFFFF;
    color: $colorblue;
    border-color: $colorblue;
  }
}
/*LIBROS*/

.seccionesTienda{
  width: 100%;
  margin-bottom: 200px;
  .seccionesTienda-titulo{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .seccionesTienda-list{
    .seccionesTienda-item{
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
        padding: 0px 40px 15px 40px;
        margin: 0px 30px 0px 40px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    
        @include contratapa;
    
        @include button-compra;
    }
  }
}

/*GUIA DE COMPRA*/

.main-guia{
  background-color: white;
  margin-bottom: 200px;

  .paso-1{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: $colorblue;
    color: white;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
      margin-bottom: 150px;
    }

    a{
      font-family: 'Roboto Slab', serif;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  
  .paso-2{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: white;
    color: $colorblue;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }
  
  .paso-3{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }
  
  .paso-4{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: $colorblue;
    color: white;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }

  .paso-5{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 180px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: white;
    color:$colorblue;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }
  
  .paso-6{
    text-align: center;
    float: left;
    width: 43%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-bottom: 180px;
    margin-left: 5%;
    border-radius: 40px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 40px 70px 70px 20px;
  
    h2{
      font-family: 'Roboto Slab', serif;
      text-align: left;
      padding-left: 148px;
      padding-top: 25px;
    }
  
    p{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: left;
      padding-top: 15px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }
}

/*SOBRE NOSOTROS*/

.main-marca{
  height: 1300px;

  .imagenes{
    width: 30%;
    float: left;
    margin-left: 10%;
    width: 450px;
    height: 534px;
  
    #carouselExampleSlidesOnly{
      width: 450px;
      height: 534px;
    }
  }

  .carrusel-2{
    display: none;
  }
  
  .historia{
    float: right;
    width: 40%;
    margin-right: 10%;
  
    .texto-1{
      margin-bottom: 99.5px;
    }
    
    .texto-1 h2{
      font-family: 'Roboto Slab', serif;
      color: #17a2b8;
    }
    
    .texto-1 p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
    
    .texto-2{
      margin-bottom: 99.5px;
    }
    
    .texto-2 h2{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .texto-2 p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
    
    .texto-3 h2{
      color: #17a2b8;
      font-family: 'Roboto Slab', serif;
    }
    
    .texto-3 p{
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }

  .newsletter-sobreNosotros{
    display: block;
    padding-top: 1000px;
    button:hover{
      animation: pulse 1s;
    }
    .newsletter-titulo{
      display: block;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      font-size: 35px;
    }
    .newsletter-texto{
      display: block;
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    .newsletter-form{
      text-align: center;
      margin-right: 35%;
      margin-left: 35%;
    }
    .newsletter-btn{
      text-decoration: none;
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding: 0px 3px 0px 3px;
      text-align: center;
      font-size: 15px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 40px;
      padding: 5px 10px 5px 10px;
    }
  }
}

/*CONTACTO*/

.main-contacto{
  margin-top: 300px;
  height: 1000px;
  width: 100%;

  .formulario-contacto{
    float: left;
    width: 40%;
    margin-left: 10%;
    button:hover{
      animation: pulse 1s;
    }
  
    div{
      p{
        font-family: 'IBM Plex Sans', sans-serif;
        margin-bottom: 60px;
        font-weight: bold;
      }
      
      h3{
        color: $colorblue;
        font-family: 'Roboto Slab', serif;
      }
    }
    
    .btn{
      background-color: $colorblue;
      color: #FFFFFF;
      border-radius: 20px;
  
      .btn:hover{
        animation: pulse 1s;
      }
    }
  }

  .datos-contacto{
    text-align: right;
    float: right;
    width: 40%;
    margin-right: 10%;
  }
  
  
  .datos-contacto div{
    margin-bottom: 180px;
  }
  
  .datos-contacto div h3{
    color: $colorblue;
    font-family: 'Roboto Slab', serif;
  }
  
  .datos-contacto div p{
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}


/*BUTTONS MODAL*/

.button-libro{
  background-color: $colorblue;
  color: white;
  border-color: $colorblue;
}

.button-libro:hover{
  background-color: white;
  color: $colorblue;
  border-color: $colorblue;
}